<form>
  <div class="row">
    <div class="form-group col-sm-1">
      <label class="control-label">Time Remaining</label>
      <p class="form-control-static">00:12:30</p>
    </div>
    <div class="form-group col-sm-2">
      <label class="control-label">Next Session</label>
      <p class="form-control-static">13-Jun-17 | 09:30:00</p>
    </div>
    <div class="form-group col-sm-1 col-sm-offset-5">
      <label class="control-label">Date Today</label>
      <p class="form-control-static">15-Jun-17</p>
    </div>
    <div class="form-group col-sm-1">
      <label class="control-label">Cash Date</label>
      <p class="form-control-static">13-Jun-17</p>
    </div>
    <div class="form-group col-sm-1">
      <label class="control-label">3Month Date</label>
      <p class="form-control-static">08-Sep-17</p>
    </div>
    <div class="form-group col-sm-1">
      <label class="control-label">Net Submission:</label>
      <p class="form-control-static">0</p>
    </div>
  </div>
</form>
