<div>
  <tabset>
    <tab heading="Carry Orders">
      <hotTable
        [data]="data | async"
        [colHeaders]="colHeaders"
        [columns]="columns"
        [options]="options"
        (afterChange)="onAfterChange($event)"
        (afterOnCellMouseDown)="onAfterOnCellMouseDown($event)">
      </hotTable>
    </tab>
    <tab heading="Raw Data">
      <ol>
        <li *ngFor="let order of data | async" >
          <code>{{order | json}}</code>
        </li>
      </ol>
    </tab>
  </tabset>
</div>

