<div class="row">
  <app-carry-orders [data]="carryOrders"></app-carry-orders>
</div>
<p></p>
<div class="row">
  <div class="col-sm-3">
    <app-vertical-orders [label]="month1Label" [data]="month1Orders"></app-vertical-orders>
  </div>
  <div class="col-sm-3">
    <app-vertical-orders [label]="month2Label" [data]="month2Orders"></app-vertical-orders>
  </div>
  <div class="col-sm-3">
    <app-vertical-orders [label]="month3Label" [data]="month3Orders"></app-vertical-orders>
  </div>
  <div class="col-sm-3">
    <app-vertical-orders [label]="month4Label" [data]="month4Orders"></app-vertical-orders>
  </div>
</div>
